# Python Start!

#### Python installation 
- http://www.python.org
- http://anaconda.org

#### Python 
- 1990년 암스테르담 귀도 반 로섬(Guido Van Rossum) 개발한 인터프리터 언어
- 인터프리터 언어(Python, R)는 한줄씩 소스 코드를 해석해서 바로 실행해 결과를 확인할 수 있는 언어
    - Cf. 컴파일언어(PLSQL, C)는 환경을 줘야 실행결과를 확인할 수 있음
- BBC에서 방영되는 Monty pythons flying circus tv 프로그램 이름

#### Python특징
- 문법이 아주 쉽다.
- 가독성이 좋다. 
- 풍부한 라이브러리
    - numpy: 수학, 과학
    - pandas: 데이터 검색 모듈
    - beautiful soup: 웹스크롤링 모듈 
    - scikit-learn: 머신러닝 
- 이식성
    - 쉽게 라이브러리를 추가 할 수 있다.
    - 파이썬은 C언어로 구현된 부분이어서 C계열 프로그램은 사용하기 편하다. 
- 무료 
    - FLOSS(Free Libre and Open Source Software) 
    - 자유 오픈 소스 소프트웨어
    - 소프트웨어의 복사본을 마음대로 배포할 수 있고 소스코드가 공개되어 있어 언제든지 읽을  수 있으며 필요한 부분을 필요한 부분을 고칠 수 있고 새로운 자유 소프트웨어를 작성할 때 이 프로그램의 일부를 사용해도 된다는 의미 FLOSS는 지식을 공유하는 공동체 
- 동적타이밍
    - 런타임시에 TYPE을 체크를 하는 동적타이밍을 지원 
    - Run 타임 시점에 문자, 숫자, 날짜라는 것을 확인하고 런을 돌린다.(R도 마찬가지)
    - 메모리관리를 자동 (resource를 많이 차지하지 않는다)

#### Python언어로 할 수 있는 일
1. 시스템 유틸리티
2. GUI 프로그램
3. C, C++ 결합
4. 웹프로그래밍(장고:웹프로그래밍을 구현할 수 있는 모듈) 
5. 수치연산프로그래밍
6. 데이터베이스 프로그래밍 
7. 머신러닝, 딥러닝

#### 파이썬 종류
Cython(c), jython(java), lronpython(c#), pypy(python)

### 사칙연산

In [4]:
#math안에 들어있는 module을 사용
import math 
math.pow(2,3)

8.0

In [6]:
1+2

3

In [7]:
2-1

1

In [8]:
2*3

6

In [9]:
#부동소수점 나누기
7/2

3.5

In [10]:
#나눗셈 몫(정수나누기, 소수점 이하는 버림)
7//2

3

In [11]:
#나누셈의 나머지
7%2

1

In [15]:
#제곱연산
2**3 
#cf. sql은 제곱연산이 불가능하기 때문에 power라는 함수를 사용해야 한다.

8

In [18]:
#연산자 우선 순위
(1+2)*3*2**3

#1. ()
#2. **
#3. * / 
#4. + -

72

In [21]:
#연산자 축약으로 사용 가능 
a = 1
a = a + 1 
a += 1

In [25]:
a = a-1 
a -= 1

In [28]:
a = a*1
a *= 1

In [30]:
a = a/2
a /=2

In [31]:
a = a//2
a //=2

### 변수(variable)
- 데이터를 저장할 수 있는 메모리 공간 
- 첫글자는 영문, _(밑줄)
- 두번째 글자 부터는 영문자, 숫자, _
- 대소문자 구분함

In [32]:
import keyword

#모듈 이름을 써야 함
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [34]:
#type을 통해 변수 확인
x = 10

In [35]:
x

10

In [36]:
print(x)

10

In [37]:
type(x)

int

In [38]:
#부동소숫점(float)
f = 10.12

In [39]:
type(f)

float

In [40]:
#지수표현 10.4*10**
f = 10.4e3

In [41]:
type(f)

float

### 논리연산자(Boolean)

In [43]:
x = 1
y = 2

In [44]:
y > x

True

In [45]:
y >= x

True

In [46]:
y <= x

False

In [47]:
y == x

False

In [48]:
y != x

True

In [51]:
2 > 1 and 3 >2

True

In [52]:
2 > 1 or 3 > 2

True

In [54]:
# and or not 
not 1 > 2

True

### 변수확인
- #선언된 변수 확인
    - dir() 
- locals()
- #선언된 변수 삭제
    - del(x)

### 문자열

In [57]:
'대한민국'

'대한민국'

In [58]:
'짝짝짝'

'짝짝짝'

In [60]:
"""대한민국 
짝짝짝"""

'대한민국 \n짝짝짝'

In [61]:
# \n 줄바꿈의 의미
print("오늘 하루도 \n 행복하자")

오늘 하루도
 행복하자

In [63]:
# \t 탭키의 의미
print("오늘 하루도 \t 행복하자")

오늘 하루도 	 행복하자

In [64]:
print("잘하자\t 파이썬")

잘하자	 파이썬

In [66]:
# \0 공백문자
print("잘하자\0파이썬")

잘하자 파이썬

In [70]:
# \\ #표시
print("잘하자\0파이썬\\R")

잘하자 파이썬\R

In [71]:
print("잘하자\'파이썬\'")

잘하자'파이썬'

In [73]:
print("잘하자'파이썬'")

잘하자'파이썬'

In [76]:
x = '김현정'
y = '파이썬 개발자'

type(x)

str

In [79]:
# 문자 + 문자 연결연산자
x + y

'김현정파이썬 개발자'

In [82]:
# 문자에서 *(곱)은 반복연산자(복제)
(x+y)*2

'김현정파이썬 개발자김현정파이썬 개발자'

In [84]:
print('='*15)
print("hello world")
print('='*15)

===============
hello world
===============

### Formating
- 문자열을 함수처럼 변수의 값수로 넣는 방법

In [85]:
name = "제임스"
music = "클래식"

In [88]:
#{}, format(name, music)
print("안녕하세요. {}입니다. 즐겨듣는 음악은 {}입니다".format(name, music))

안녕하세요. 제임스입니다. 즐겨듣는 음악은 클래식입니다

In [91]:
#포맷팅 코드: %s, 들어가야할 값 %(,)
print("안녕하세요. %s입니다. 즐겨듣는 음악은 %s입니다."%(name, music))

안녕하세요. 제임스입니다. 즐겨듣는 음악은 클래식입니다.

In [93]:
#포맷팅 코드: %d(정수 포맷), 들어가야할 값 %(,)
x = 996
y = 8
result = x % y
print("%d를 %d 나누면 %d가 나머지 입니다."%(x,y,result))

996를 8 나누면 4가 나머지 입니다.

In [95]:
result1 = x//y
result2 = x%y
print("%d를 %d 나누면 %d는 몫이고 %d나머지 입니다."%(x,y,result1, result2))

996를 8 나누면 124는 몫이고 4나머지 입니다.

In [97]:
result3, result4 = divmod(x,y)
print("%d를 %d 나누면 %d는 몫이고 %d나머지 입니다."%(x,y,result3, result4))

996를 8 나누면 124는 몫이고 4나머지 입니다.

In [102]:
print("원주율은 %d입니다."%3.14159)

원주율은 3입니다.

In [104]:
print("원주율은 {}입니다.".format(3.14159))

원주율은 3.14159입니다.

In [106]:
# %f는 실수를 나타내주는 포맷팅 코드
print("원주율은 %f입니다."%3.14159)

원주율은 3.141590입니다.